<div class="container" style="margin-top: ;100px">
    <div class="row">
        <form action="/admin/login" method="post">
            <div class="mb-3 row">
                <div class="col-sm-10">
                    <label for="etiqueta">Usuario </label>
                    <div class="ingreso"><input type="text" class="form-control" id="inputUser" placeholder="Usuario"
                            name="usuario"></div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-10">
                    <label for="etiqueta">Contraseña </label>
                    <div class="contra"><input type="password" class="form-control" id="inputPassword"
                            placeholder="Contraseña" name="password"></div>
                </div>
            </div>
            <div class="boton">
                <button type="submit" class="btn-byn-primary">Ingresar</button>
            </div>
            <div class="mb-3 row"></div>
        </form>
        {{#if error}}
        <p>Usuario y/o contraseña incorrectos</p>
        {{/if}}

    </div>
</div>
<div class="mb-3 row"></div>