.grid-container2 img {
    border: solid 2px rgb(58, 9, 58);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 40px #531c66;
    transform: rotate(25deg);

}

.diy img {
    margin-left: 30%;
    padding-bottom: 50px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    margin-left: 10%;
    margin-right: 10%;
    row-gap: 25px;
    column-gap: 15px;
}