nav {
    font-family: 'Kurale', serif;
    background: rgba(96, 10, 108, 0.9);
    background: linear-gradient(180deg, rgba(96, 10, 108, 0.9) 0%, #b272c8 40%, rgba(172, 60, 200, 0.43) 80%);
    background: -webkit-linear-gradient(180deg, rgba(96, 10, 108, 0.9) 0%, #b272c8 40%, rgba(172, 60, 200, 0.43) 80%);
    background: -moz-linear-gradient(180deg, rgba(96, 10, 108, 0.9) 0%, #b272c8 40%, rgba(172, 60, 200, 0.43) 80%);
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li link {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    font-size: 50px;
}

nav ul li link:hover {
    background-color: rgb(133, 62, 133);
}


.pie {
    text-align: right;
    /* padding: 16px 0px; */
    font-size: 16px;
    font-family: cursive;
    color: #531c66;
}

.pie img {
    border-radius: 13px;
    max-width: fit-content;
    box-shadow: 0 0 20px #531c66;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 22px;
    background-color: white;
    padding: 20px;
    max-width: 1200px;
    gap: 10px;
    text-align: justify;
}